*~
*.swp
*.pyc
.idea
*#
#*
*.bak
.#*
*.log
*.tmp
*.gam
*.sam
*.json
*.bdg
*.obgraph
*.vggraph
.project
*.bed
*.vg
*.txt
*.nodes
*.edges
*.xls
*.narrowPeak
*.cached
*.meme
tests/fimo*
tests/real_data_*
*tmp*
*.intervals
*.obg
*.offsetbasedgraph
*.snarls
*.bg
*.vg
*.snarlgraph
*.fastq
*.bam
*.gam
*.sam
*.fa
*.intervalcollection
*.fastq
*.pickle
*.fasta
*.gz
*.bai
test/obgraph
test/linear_map
graph_peak_caller/dm_test_data
*.bigWig
*.cache
*egg-info
*.peaks
*.subgraphs
benchmarking/fimo_out
vg_graph
*.transfac
*.lm
*.pb
*.vcf
*.tbi
*.pileup
*.r
*.npy
*.png
*.coverage
*.fai*
*.bam*
1
2
3
4
X
Y
coverage.xml
*.mtx
*node_id_offset
*.obgindex
*fimo*
*.backup
tests/vg
tests/whole_genome
tests/lrc_kir
tests/mhc
